.gradle
/local.properties
.idea/
.iml
*.iml

.DS_Store
/build
**/build/
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
*.log
*.ipr
*.iws
Thumbs.db
bin/
gen/
.navigation/

/sdkad_library_data_2_0_2/.gitignore
app/pid99/
sdkad_library_data_2_0_2/

